.container {
    border-radius: 3px;
    display: grid;
    grid-template-rows: auto 1fr;
}

.users__grid {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}


.landing{
    padding: 8rem 5vw;
}

.label {
    font-size: 1.6rem;
    font-weight: 500;
    display: block;
}

.form-group{
    position: relative;
    &__icon{
        width: 2rem;
        position: absolute;
        top: 3.5rem;
    }
}

.input {
    padding: 1rem;
    font-size: 1.6rem;
    outline: none;
    border-radius: 3px;
    width: 100%;
    margin-right: -4rem;

}